/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 0px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 20px 80px;

}

/* Supporting marketing content */
.marketing {
margin: 0px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.iphone {
    float:left;
    margin-left:-45px;
	margin-top: -40px;
}

.download {
    margin-top:5px;
    margin-left:0px;
}

.motto {
    text-align: left;
	margin-left: 130px;
}

.motto-title {
	font-size: 54px;
}

.buttons {
    margin-top: 40px;
	margin-right: -65px;
	margin-bottom: 40px;
}

/**home.aspx**/

.header .btn { float:right;
}

.ustbuton {
    width:200px; float:right;
}

.logo { width:150px; height:50px;
}

.solMenu { float:left;  width:200px; height:700px;
}
.sagmenu {
float:right; height:200px; width:200px;
}
.ortamenu { float:left; width:auto; height:400px; width:500px;
}

.resim { float:left;margin-top:5px; background-color:red; width:75px; height:75px; border:1px; border-radius:15px; margin-left:5px; 
}

.baslik { float:left; margin:0px 0px 0px 15px; height:50px; margin-top:2px; width:200px; overflow:hidden;
}
    .baslik a:hover {
    color:white; text-decoration:none;
    }

.alt-baslik {
    float:left; color:white;margin:5px 0px 0px 15px;  width:150px;
}

.ilanicerik { 
}

.onilan {
    height:150px; width:100px; float:left;
}
    .onilan li { list-style:none;
                 margin-top:4px;
    }

.solalt {
    float:left; height:400px; width:150px; margin-top:35px;
}

.yazi {

color:#777; 
}

.yazi-text {

float:right;
}

#TaskDetailsContent {
    height:100%;
    width:100%;
}

.firsbehind {
 height:200px;
}

.TaskName {
margin-bottom:10px;
}
.Calendar {
float:left;
}
.hours {
float:left; margin-left:20px;
}
#btnLogOut {
    float:right;
}